@media (max-width: 991px) {
    .map {
        display: none;
    }
    .alert-window-too-small {
        display: block;
        margin-top: 20px;
    }
}
@media (min-width: 992px) {
    .container {
        padding: 0;
        width: 992px;
    }
    .alert-window-too-small {
        display: none;
    }
}
.map {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}
.map .vintage-map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity:0.0;
    filter:alpha(opacity=0);
}
.map object {
    max-width: 100%;
    height: 662px;
}
.map object svg {
    max-width: 100%;
}
.map .location, .map .location-number {
    position: absolute;
    margin-top: -7px;
    margin-left: -8px;
    padding: 2px;
    font-size: 7px;
    display: block;
    width: 12px;
    height: 12px;
}
.map .location {
    background-color: #333333;
    margin-top: -5px;
    margin-left: -7px;
    font-size: 1px;
    color: transparent;
    width: 8px;
    height: 8px;
}
.map .label-info {
    opacity: 0.6;
}
.map .label-info:hover {
    opacity: 1;
}
.map .location-number {
    background-color: #ffffff;
    color: transparent;
    color: transparent;
    border-radius: 99px;
    border: 1px solid #000;
}
.map .location-murder {
    background-color: #d9534f;
    color: transparent;
}
.map .location-station {
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: -10px;
    background-color: #000000;
    color: transparent;
}
.map .token {
    position: absolute;
    margin-top: -10px;
    margin-left: -6px;
    font-size: 9px;
}
.map .token.selectable {
    .cursor: pointer;
    cursor: hand;
}
.map .token.unmarked {
    margin-top: 13px;
}
.map .token-arrest-adjacent {
    margin-top: 13px;
}
.map .token.selected {
    background-color: #eeeeee;
}
.map .token.revealed {
    background-color: #ff00ff;
}
.map .token.police-0 {
    background-color: #3333cc;
}
.map .token.police-1 {
    background-color: #663300;
}
.map .token.police-2 {
    background-color: #339900;
}
.map .token.police-3 {
    background-color: #cc0000;
}
.map .token.police-4 {
    background-color: #ffcc33;
}
.map .token-woman.token-woman-selected {
    background-color: #ffffff;
}
.map .token.token-murder {
    display: block;
    padding: 2px;
    width: 24px;
    height: 22px;
    margin-top: -12px;
    margin-left: -14px;
    background-color: #ff0000;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    opacity: 1;
}
.map .token.token-murder:before {
  font-family: 'FontAwesome';
  content: "\f071";
}
.map .token-woman {
    display: block;
    padding: 0;
    width: 18px;
    height: 18px;
    margin-top: -10px;
    margin-left: -11px;
    background-color: #bbbbbb;
    color: #333;
    text-align: center;
    font-size: 15px;
}
.map .token-woman:before {
  font-family: 'FontAwesome';
  content: "\f182";
}
.map .token-clue {
    display: block;
    padding: 0;
    width: 18px;
    height: 18px;
    margin-top: -10px;
    margin-left: -11px;
    background-color: #f5e79e;
    color: #333;
    text-align: center;
    font-size: 15px;
    z-index: 1;
    opacity: 0.8;
}
.map .token-clue:before {
    font-family: 'FontAwesome';
    content: "\f1b0";
}
.map .token-base {
    display: block;
    padding: 0;
    width: 18px;
    height: 18px;
    margin-top: -10px;
    margin-left: -11px;
    background-color: #E3EEB6;
    color: #333;
    text-align: center;
    font-size: 15px;
    z-index: 1;
    opacity: 1;
}
.map .token-base:before {
    color: #5E514B;
    font-family: 'FontAwesome';
    content: "\f015";
}
.map .token-police {
    display: block;
    padding: 0;
    width: 18px;
    height: 18px;
    margin-top: -10px;
    margin-left: -11px;
    background-color: #2A649D;
    color: #fff;
    text-align: center;
    font-size: 15px;
    z-index: 1;
    opacity: 0.8;
}
.map .token-police:before {
    font-family: 'FontAwesome';
    content: "\f183";
}
.move-tracker {
	position: absolute;
	top: 672px;
}
.move-tracker .tracker {
    background-color: #ffffff;
    color: #333333;
}
.move-tracker .label.active {
	background-color: #5cb85c;
    color: #ffffff;
}
.move-tracker .label.murder {
	background-color: #d9534f;
    color: #ffffff;
}